@charset "UTF-8";

/*Default Color*/
:root {
	--main-color: #5D9AB2;
	--accent-color: #BF6A7A;
	--dark-color: #2B5566;
}

/* Default Settings: All Pages*/
body {
	font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}

/* ContentsA: Hero Image*/
.conA {
	text-align: center;
}

.conA h1 {
	margin-top: 0;
	margin-top: 10px;
	font-size: 48;
}

.conA p {
	margin-top: 0;
	margin-bottom: 0;
	font-size:18px;
}